.cssload-loader * {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.cssload-loader {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    
    width: 275px;
    height: 275px;

/*    margin-top: -138px;
    margin-left: -138px;*/

    perspective: 138px;
    -o-perspective: 138px;
    -ms-perspective: 138px;
    -webkit-perspective: 138px;
    -moz-perspective: 138px;
    transform-type: preserve-3d;
    -o-transform-type: preserve-3d;
    -ms-transform-type: preserve-3d;
    -webkit-transform-type: preserve-3d;
    -moz-transform-type: preserve-3d;

    animation: cssload-loader 4.2s cubic-bezierrgb(0,0,0) infinite;
    -o-animation: cssload-loader 4.2s cubic-bezierrgb(0,0,0) infinite;
    -ms-animation: cssload-loader 4.2s cubic-bezierrgb(0,0,0) infinite;
    -webkit-animation: cssload-loader 4.2s cubic-bezierrgb(0,0,0) infinite;
    -moz-animation: cssload-loader 4.2s cubic-bezierrgb(0,0,0) infinite;
}




.cssload-dot {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;

    width: 28px;
    height: 28px;

    margin-top: -124px;
    margin-left: -14px;

    border-radius: 14px;

    background-color: rgb(30,63,87);

    transform-type: preserve-3d;
    -o-transform-type: preserve-3d;
    -ms-transform-type: preserve-3d;
    -webkit-transform-type: preserve-3d;
    -moz-transform-type: preserve-3d;
    transform-origin: 50% 124px;
    -o-transform-origin: 50% 124px;
    -ms-transform-origin: 50% 124px;
    -webkit-transform-origin: 50% 124px;
    -moz-transform-origin: 50% 124px;
    transform: rotateZ(30deg);
    -o-transform: rotateZ(30deg);
    -ms-transform: rotateZ(30deg);
    -webkit-transform: rotateZ(30deg);
    -moz-transform: rotateZ(30deg);

    animation: cssload-dot1 1.045s cubic-bezier(.6,0,.4,1) infinite;
    -o-animation: cssload-dot1 1.045s cubic-bezier(.6,0,.4,1) infinite;
    -ms-animation: cssload-dot1 1.045s cubic-bezier(.6,0,.4,1) infinite;
    -webkit-animation: cssload-dot1 1.045s cubic-bezier(.6,0,.4,1) infinite;
    -moz-animation: cssload-dot1 1.045s cubic-bezier(.6,0,.4,1) infinite;
}

.cssload-dot:nth-child(2) {
    transform: rotateZ(15deg);
    -o-transform: rotateZ(15deg);
    -ms-transform: rotateZ(15deg);
    -webkit-transform: rotateZ(15deg);
    -moz-transform: rotateZ(15deg);
    animation-name: cssload-dot2;
    -o-animation-name: cssload-dot2;
    -ms-animation-name: cssload-dot2;
    -webkit-animation-name: cssload-dot2;
    -moz-animation-name: cssload-dot2;
    animation-delay: 105ms;
    -o-animation-delay: 105ms;
    -ms-animation-delay: 105ms;
    -webkit-animation-delay: 105ms;
    -moz-animation-delay: 105ms;
    background-color: rgb(45,85,109);
}

.cssload-dot:nth-child(3) {
    transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    animation-name: cssload-dot3;
    -o-animation-name: cssload-dot3;
    -ms-animation-name: cssload-dot3;
    -webkit-animation-name: cssload-dot3;
    -moz-animation-name: cssload-dot3;
    animation-delay: 210ms;
    -o-animation-delay: 210ms;
    -ms-animation-delay: 210ms;
    -webkit-animation-delay: 210ms;
    -moz-animation-delay: 210ms;
    background-color: rgb(68,120,145);
}

.cssload-dot:nth-child(4) {
    transform: rotateZ(-15deg);
    -o-transform: rotateZ(-15deg);
    -ms-transform: rotateZ(-15deg);
    -webkit-transform: rotateZ(-15deg);
    -moz-transform: rotateZ(-15deg);
    animation-name: cssload-dot4;
    -o-animation-name: cssload-dot4;
    -ms-animation-name: cssload-dot4;
    -webkit-animation-name: cssload-dot4;
    -moz-animation-name: cssload-dot4;
    animation-delay: 315ms;
    -o-animation-delay: 315ms;
    -ms-animation-delay: 315ms;
    -webkit-animation-delay: 315ms;
    -moz-animation-delay: 315ms;
    background-color: rgb(89,152,178);
}

.cssload-dot:nth-child(5) {
    transform: rotateZ(-30deg);
    -o-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    -webkit-transform: rotateZ(-30deg);
    -moz-transform: rotateZ(-30deg);
    animation-name: cssload-dot5;
    -o-animation-name: cssload-dot5;
    -ms-animation-name: cssload-dot5;
    -webkit-animation-name: cssload-dot5;
    -moz-animation-name: cssload-dot5;
    animation-delay: 420ms;
    -o-animation-delay: 420ms;
    -ms-animation-delay: 420ms;
    -webkit-animation-delay: 420ms;
    -moz-animation-delay: 420ms;
    background-color: rgb(107,178,205);
}











@keyframes cssload-loader {
    0% {
        transform: rotateX(30deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(30deg) rotateZ(-360deg);
    }
}

@-o-keyframes cssload-loader {
    0% {
        -o-transform: rotateX(30deg) rotateZ(0deg);
    }
    100% {
        -o-transform: rotateX(30deg) rotateZ(-360deg);
    }
}

@-ms-keyframes cssload-loader {
    0% {
        -ms-transform: rotateX(30deg) rotateZ(0deg);
    }
    100% {
        -ms-transform: rotateX(30deg) rotateZ(-360deg);
    }
}

@-webkit-keyframes cssload-loader {
    0% {
        -webkit-transform: rotateX(30deg) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateX(30deg) rotateZ(-360deg);
    }
}

@-moz-keyframes cssload-loader {
    0% {
        -moz-transform: rotateX(30deg) rotateZ(0deg);
    }
    100% {
        -moz-transform: rotateX(30deg) rotateZ(-360deg);
    }
}

@keyframes cssload-dot1 {
    0% {
        transform: rotateZ(30deg) rotateX(10deg);
    }
    95%, 100% {
        transform: rotateZ(390deg) rotateX(10deg);
    }
}

@-o-keyframes cssload-dot1 {
    0% {
        -o-transform: rotateZ(30deg) rotateX(10deg);
    }
    95%, 100% {
        -o-transform: rotateZ(390deg) rotateX(10deg);
    }
}

@-ms-keyframes cssload-dot1 {
    0% {
        -ms-transform: rotateZ(30deg) rotateX(10deg);
    }
    95%, 100% {
        -ms-transform: rotateZ(390deg) rotateX(10deg);
    }
}

@-webkit-keyframes cssload-dot1 {
    0% {
        -webkit-transform: rotateZ(30deg) rotateX(10deg);
    }
    95%, 100% {
        -webkit-transform: rotateZ(390deg) rotateX(10deg);
    }
}

@-moz-keyframes cssload-dot1 {
    0% {
        -moz-transform: rotateZ(30deg) rotateX(10deg);
    }
    95%, 100% {
        -moz-transform: rotateZ(390deg) rotateX(10deg);
    }
}

@keyframes cssload-dot2 {
    0% {
        transform: rotateZ(15deg) rotateX(10deg);
    }
    95%, 100% {
        transform: rotateZ(375deg) rotateX(10deg);
    }
}

@-o-keyframes cssload-dot2 {
    0% {
        -o-transform: rotateZ(15deg) rotateX(10deg);
    }
    95%, 100% {
        -o-transform: rotateZ(375deg) rotateX(10deg);
    }
}

@-ms-keyframes cssload-dot2 {
    0% {
        -ms-transform: rotateZ(15deg) rotateX(10deg);
    }
    95%, 100% {
        -ms-transform: rotateZ(375deg) rotateX(10deg);
    }
}

@-webkit-keyframes cssload-dot2 {
    0% {
        -webkit-transform: rotateZ(15deg) rotateX(10deg);
    }
    95%, 100% {
        -webkit-transform: rotateZ(375deg) rotateX(10deg);
    }
}

@-moz-keyframes cssload-dot2 {
    0% {
        -moz-transform: rotateZ(15deg) rotateX(10deg);
    }
    95%, 100% {
        -moz-transform: rotateZ(375deg) rotateX(10deg);
    }
}

@keyframes cssload-dot3 {
    0% {
        transform: rotateZ(0deg) rotateX(10deg);
    }
    95%, 100% {
        transform: rotateZ(360deg) rotateX(10deg);
    }
}

@-o-keyframes cssload-dot3 {
    0% {
        -o-transform: rotateZ(0deg) rotateX(10deg);
    }
    95%, 100% {
        -o-transform: rotateZ(360deg) rotateX(10deg);
    }
}

@-ms-keyframes cssload-dot3 {
    0% {
        -ms-transform: rotateZ(0deg) rotateX(10deg);
    }
    95%, 100% {
        -ms-transform: rotateZ(360deg) rotateX(10deg);
    }
}

@-webkit-keyframes cssload-dot3 {
    0% {
        -webkit-transform: rotateZ(0deg) rotateX(10deg);
    }
    95%, 100% {
        -webkit-transform: rotateZ(360deg) rotateX(10deg);
    }
}

@-moz-keyframes cssload-dot3 {
    0% {
        -moz-transform: rotateZ(0deg) rotateX(10deg);
    }
    95%, 100% {
        -moz-transform: rotateZ(360deg) rotateX(10deg);
    }
}

@keyframes cssload-dot4 {
    0% {
        transform: rotateZ(-15deg) rotateX(10deg);
    }
    95%, 100% {
        transform: rotateZ(345deg) rotateX(10deg);
    }
}

@-o-keyframes cssload-dot4 {
    0% {
        -o-transform: rotateZ(-15deg) rotateX(10deg);
    }
    95%, 100% {
        -o-transform: rotateZ(345deg) rotateX(10deg);
    }
}

@-ms-keyframes cssload-dot4 {
    0% {
        -ms-transform: rotateZ(-15deg) rotateX(10deg);
    }
    95%, 100% {
        -ms-transform: rotateZ(345deg) rotateX(10deg);
    }
}

@-webkit-keyframes cssload-dot4 {
    0% {
        -webkit-transform: rotateZ(-15deg) rotateX(10deg);
    }
    95%, 100% {
        -webkit-transform: rotateZ(345deg) rotateX(10deg);
    }
}

@-moz-keyframes cssload-dot4 {
    0% {
        -moz-transform: rotateZ(-15deg) rotateX(10deg);
    }
    95%, 100% {
        -moz-transform: rotateZ(345deg) rotateX(10deg);
    }
}

@keyframes cssload-dot5 {
    0% {
        transform: rotateZ(-30deg) rotateX(10deg);
    }
    95%, 100% {
        transform: rotateZ(330deg) rotateX(10deg);
    }
}

@-o-keyframes cssload-dot5 {
    0% {
        -o-transform: rotateZ(-30deg) rotateX(10deg);
    }
    95%, 100% {
        -o-transform: rotateZ(330deg) rotateX(10deg);
    }
}

@-ms-keyframes cssload-dot5 {
    0% {
        -ms-transform: rotateZ(-30deg) rotateX(10deg);
    }
    95%, 100% {
        -ms-transform: rotateZ(330deg) rotateX(10deg);
    }
}

@-webkit-keyframes cssload-dot5 {
    0% {
        -webkit-transform: rotateZ(-30deg) rotateX(10deg);
    }
    95%, 100% {
        -webkit-transform: rotateZ(330deg) rotateX(10deg);
    }
}

@-moz-keyframes cssload-dot5 {
    0% {
        -moz-transform: rotateZ(-30deg) rotateX(10deg);
    }
    95%, 100% {
        -moz-transform: rotateZ(330deg) rotateX(10deg);
    }
}